<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<title>TP03 - GRUPO 10</title>
</head>
<body>
<div th:insert="/layouts/header :: header"></div>
<div class="container">
<form th:object="${usuario}" th:action="@{/guardarUsuario}" method="post">
   <div class="mb-3">
    <label for="dniID" class="form-label">Dni</label>
    <input th:field="*{dni}" type="number" class="form-control" id="dniID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('dni')}" th:errors="*{dni}"></div>
  </div>
  <div class="mb-3">
    <label for="nombreID" class="form-label">Nombre</label>
    <input th:field="*{nombre}" type="text" class="form-control" id="nombreID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}"></div>
  </div>
  <div class="mb-3">
    <label for="apellidoID" class="form-label">Apellido</label>
    <input th:field="*{apellido}" type="text" class="form-control" id="apellidoID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('apellido')}" th:errors="*{apellido}"></div>
  </div>
  <div class="mb-3">
    <label for="emailID" class="form-label">Email </label>
    <input th:field="*{email}" type="email" class="form-control" id="emailID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>
  </div>
  <div class="mb-3">
    <label for="passwdID" class="form-label">Contraseña</label>
    <input th:field="*{contraseña}" type="password" class="form-control" id="passwdID" required>
    <div class="alert alert-danger" th:if="${#fields.hasErrors('contraseña')}" th:errors="*{contraseña}"></div>
  </div>
    <div class="mb-3">
    <label for="birthdateID" class="form-label">Fecha de Nacimiento</label>
    <input th:field="*{fechanacimiento}" type="date" class="form-control" id="birthdateID">
     <div class="alert alert-danger" th:if="${#fields.hasErrors('fechanacimiento')}" th:errors="*{fechanacimiento}"></div>
  </div>
  <button type="submit" class="btn btn-primary">Guardar Usuario</button>
</form>
</div>

</body>
</html>