<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<title>TP03 - GRUPO 10</title>
</head>
<body>
<div th:insert="/layouts/header :: header"></div>
<table class="table table-dark table-striped">
  <thead> 
    <tr>
      <th scope="col">DNI</th>
      <th scope="col">Nombre</th>
      <th scope="col">Apellido</th>
      <th scope="col">Fecha de Nacimiento</th>
      <th scope="col">Email</th>
      <th scope="col">Acciones</th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="user:${listausuarios}">
      <td th:text="${user.dni}"></td>
      <td th:text="${user.nombre}"></td>
      <td th:text="${user.apellido}"></td>
      <td th:text="${user.fechanacimiento}"></td>
      <td th:text="${user.email}"></td>
      <td>
      	<a class="btn btn-warning fa fa-pencil" th:href="@{/update/}+${user.dni}"></a>
      	<a class="btn btn-danger fa fa-trash" th:href="@{/del/}+${user.dni}"></a>
      </td>
      
    </tr>
  </tbody>
</table>

</body>
</html>