<!DOCTYPE html>
<html xmlns:th ="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/webjars/bootstrap/4.5.0/css/bootstrap.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/webjars/font-awesome/4.7.0/css/font-awesome.min.css}"  rel="stylesheet" type="text/css">
<link th:href="@{/css/miEstilo.css}" rel="stylesheet" type="text/css">
<title>TP03 - GRUPO 10</title>
</head>
<body>
<div th:insert="/layouts/header :: header"></div>
<table class="table table-dark table-striped">
  <thead> 
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Descripcion</th>
      <th scope="col">Costo($)</th>
      <th scope="col">Fecha de inicio</th>
      <th scope="col">Valoracion (1-10)</th>
      <th scope="col">Duracion (semanas)</th>
      <th scope="col">Docente</th>
      <th scope="col">Cupo</th>
    </tr>
  </thead>
  
  <tbody>
    <tr th:each="course:${listacursos}">
      <td th:text="${course.id}"></td>
      <td th:text="${course.nombre}"></td>
      <td th:text="${course.descripcion}"></td>
      <td th:text="${course.costo}"></td>
      <td th:text="${course.fechainicio}"></td>
      <td th:text="${course.valoracion}"></td>
      <td th:text="${course.duracion}"></td>
      <td th:text="${course.docente}"></td>
      <td th:text="${course.cupo}"></td>
      <td>
      	<a class="btn btn-warning fa fa-pencil" th:href="@{/editecourse/}+${course.id}"></a>
      	<a class="btn btn-danger fa fa-trash" th:href="@{/deletecourse/}+${course.id}"></a>
      </td>
      
    </tr>
  </tbody>
</table>

</body>
</html>